.w-\[350px\] {
    width: 350px;
  }
  
  .my-custom-button-color {
    background-color: blue;
    color: white;
  }
  
  .bg-white {
    background-color: white;
  }
  
  .shadow-md {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  .p-4 {
    padding: 1rem;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .items-center {
    align-items: center;
  }
  
  .w-full {
    width: 100%;
  }
  
  .justify-start {
    justify-content: flex-start;
  }
  
  .text-xs {
    font-size: 0.75rem;
  }
  
  .bg-primary-500 {
    background-color: #94adf6;
  }
  
  .text-primary-50 {
    color: #ffffff;
  }
  
  .py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  
  .px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
  .rounded-md {
    border-radius: 0.375rem;
  }
  
  
  
  .mb-4 {
    margin-bottom: 1rem;
  }
  
  .text-lg {
    font-size: 1.125rem;
  }
  
  .font-title {
    font-weight: 500;
  }
  
  .text-neutral-950 {
    color: #1a1a1a;
  }
  
  .mb-2 {
    margin-bottom: 0.5rem;
  }
  
  .text-sm {
    font-size: 0.875rem;
  }
  
  .text-neutral-500 {
    color: #6b7280;
  }
  
  .mb-1 {
    margin-bottom: 0.25rem;
  }
  
  .justify-between {
    justify-content: space-between;
  }
  
  .items-center {
    align-items: center;
  }
  
  .py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  button {
    border: none;
    cursor: pointer;
  }
  
  .product-image-container {   /*  Стили для контейнера с изображением */
      max-height: 150px;  /* установите максимальную высоту */
      width: 100%;
      overflow: hidden; /* если что-то вылезает */
      display: flex;
      align-items: center; /* выровнять изображение по вертикали */
      justify-content: center; /* выровнять изображение по горизонтали */
  }
  
  img { /* Стили для изображения */
    max-width: 150px; /*  добавьте максимальную ширину */
    max-height: 100px; /*  добавьте максимальную высоту */
    object-fit: contain;  /*  установите object-fit */
    border-radius: 0.375rem;
    margin-bottom: 0; /* Уберите отступ снизу */
  }