<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-8 mt-5">
            <app-stepper #appStepper>
                <cdk-step [label]="'Данные'" [completed]="checkoutForm.get('addressForm')?.valid">
                    <app-checkout-address [checkoutForm]="checkoutForm"></app-checkout-address>
                </cdk-step>
            </app-stepper>
        </div>
        <div class="col-4">
            <app-order-totals></app-order-totals>
        </div>
    </div>
</div>
