<div class="container+">
    <div class="row " style="margin-top: 200px;" *ngIf="product">
        <div class="col-6">
            <img src="http://localhost:4200/assets/images/{{product.photoPath}}" alt="{{product.name}}" class="w-100">
        </div>
        <div class="col-6 mt-5">
            <h2>{{product.name}}</h2>
            <p style="font-size: 2em;">{{product.priceInDollar | currency}} / {{product.priceInRub | currency:'RUB':'symbol-narrow'}}</p>

            <p style="font-size: 1em;">Упаковка: {{product.container}}</p>
            <p style="font-size: 1em;">Пол: {{product.gender}}</p>
            <p style="font-size: 1em;">Описание: {{product.perfumeType}}</p>
            <p style="font-size: 1em;">Размер: {{product.size}} мл.</p>

            <h5 class="text-primary mb-3" *ngIf="quantityInBasket > 0">
                Вы добавили {{quantityInBasket}} в корзину
            </h5>

            <div class="d-flex justify-content-start align-items-center">
                <i 
                    (click)="decrementQuantity()"
                    class="fa fa-minus-circle text-warning me-2" 
                    style="cursor: pointer; font-size: 2em;"></i>
                <span class="font-weight-bold" style="font-size: 1.5em;">
                    {{quantity}}
                </span>
                <i 
                    (click)="incrementQuantity()"
                    class="fa fa-plus-circle text-warning ms-2" 
                    style="cursor: pointer; font-size: 2em;"></i>
                <button 
                    class="btn btn-outline-primary ms-4"
                    (click)="updateBasket()"
                    [disabled]="quantity === quantityInBasket"
                >{{buttonText}}</button>
            </div>
            <!-- <div class="row mt-4">
                <h4>Description</h4>
                <p>{{product.description}}</p>
            </div> -->
        </div>
    </div>
    
</div>

