<header class="d-flex flex-row align-items-center justify-content-between p-3 px-4 mb-3 border-bottom fixed-top shadow-sm custom-header-blue">
  <h1 class="logo" style="max-height: 60px;" routerLink="/home">TEXTURA</h1>

  <nav class="my-2 text-uppercase fs-4">
    <a class="p-2" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Главная</a>
    <a class="p-2" routerLink="/shop" routerLinkActive="active">Каталог</a>
  </nav>

  <div class="d-flex align-items-center">
    <a routerLink="/basket" class="position-relative">
      <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
      <div *ngIf="(basketService.basketSource$ | async) as basket" class="cart-no">
        {{getCount(basket.items)}}
      </div>
    </a>
  </div>
</header>

